body {
    background-color: black;
}
p {
   color: white;
}
h1 {
   color: #59BE16;
}
h2 {
   color: white;
}
h3 {
   color: white;
}
h4 {
   color: white;
}
h5 {
   color: white;
}
li {
   color: white;
}
row{
   color: red;
}
.box {
    width: 120px;
    line-height: 25px;
    background: #1a1a25;/*
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;*/

}